*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: none;
    text-decoration: none;
}

section{
    padding:60px;
}
.about, .objectives, .skills, .contact, footer {
    font-family: 'Poppins', sans-serif;
}
.about .about-content, .objectives .object-content, .skills .skills-content, .footer .footer-content, .footer .footer-content .right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Ubuntu",sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 200px;
    height: 5px;
    background: #000;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    left: 50%;
    bottom: -15px;
    padding: 5px;
    font-size: 25px;
    color: crimson;
    background: #ffffff;
    transform: translateX(-50%);
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 900;
    /*background: crimson;*/
    /*background: #fff;*/
    font-family: 'Ubuntu', sans-serif;
    transition:all 0.5s ease-in;
}
.navbar.sticky {
    padding: 5px 0;
    /*background: crimson;*/
    background: rgba(10, 22, 39);
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;

    justify-content: space-between;
    }
.navbar .max-width .navbar-brand img{
    width: 200px;
    height: 60px;
    /*border:2px solid #a1a1a1;*/

    border-radius: 5px;
    object-fit: cover;
}

.navbar .logo a{
    font-size: 30px;
    font-weight: 600;
    /*color: black;*/
    color: white;
}
.navbar .logo .ex-logo{
    font-size: 40px;
    color: crimson;
    /*color: #ffffff;*/
    font-weight: 650;
    font-style: italic;
}
.navbar.sticky .logo .ex-logo{
    color: white;
    transition: all 0.5s ease;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
    cursor:pointer;
}

.navbar .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.5s ease;
}
.navbar .menu li a:hover{
    color: crimson;
    padding:15px 0;
}
.navbar .menu span{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 2px 18px;
    background-color: transparent;
    border: 2px solid crimson;
    color: white;
    font-weight: 500;
    font-size: 18px;

}
.navbar .menu span:hover{
    background-color: rgba(253, 71, 102);
    border-color: rgba(253, 71, 102);
    color: rgba(255, 255, 255);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/*menu btn styling*/
.menu-btn{
    color: white;
    font-size: 23px;
    cursor:pointer;
    display:none;
}

/*Login wrapper style*/
::selection{
    background: #4158d0;
    color: #fff;
}

.register{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 901;
    display: none;
    margin: 0;
    opacity: 0.9;
    background-color: white;
}
.login{

    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}
.wrapper{
    z-index: 700;
    position: fixed;
    display: none;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    background: linear-gradient(127deg, #42133f, #1b1f34);
}
.wrapper .close {
    background: rgba(42, 39, 52);
    border-radius: 5px 5px 0 0;
}
.wrapper .close:hover{
    cursor: pointer;
}
.wrapper .close i{
    color: rgba(255, 95, 86);
}
.wrapper .close .back i{
    color: rgba(248, 231, 28);
}
.wrapper .close .forward i{
    color: rgba(39, 201, 63);
}
.wrapper form{
    padding: 10px 30px 50px 30px;
}
.wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.wrapper form .field span{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.wrapper form .field input{
    flex: 5;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
    border-color: #4158d0;
}
.wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
    top: 0;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}
/*.wrapper form .field i{*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    position: absolute;*/

/*}*/
form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}
form .linkage{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}
form .linkage .selector select{
    width: 160px;
    height: 45px;
    border-radius: 25px;
    border:1px solid lightgrey;
}
form .linkage .selector option{
    text-align: center;
}
form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
form .content input{
    width: 15px;
    height: 15px;
    background: red;
}
form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
}
form .content .pass-link{
    color: brown;
}
form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(175deg, #241223, #ad0505);
    transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
    transform: scale(0.95);
}
form .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
}
form .pass-link a,
form .signup-link a{
    color: #4158d0;
    text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
    text-decoration: underline;
}
/*Home section styling*/
.home{
    display: flex;
    background: url("/images/Home-page.jpg") no-repeat center fixed;
    height: 100vh;
    color: white;
    /*background-size: cover;*/
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    width: 100%;
    display: flex;
}

.home .home-content .text-01{
    font-size: 40px;
}
.home .home-content .text-02{
    font-size: 28px;
}
.home .home-content .text-03{
    font-size: 40px;

}
.home .home-content .text-03 span{
    color: crimson;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 15px;
    border: 2px solid crimson;
    transition: all 0.5s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
/*about section styling*/



.about .title::after{
    content: "who am i";
}

.about .about-content .left{
    width: 30%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .introduction{
    font-style: initial;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.about .about-content .right .introduction span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
    font-size: large;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 30px;
    font-weight: 400;
    border-radius: 15px;
    border: 2px solid crimson;
    transition: all 0.5s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;

}

/*响应式页面@media查询*/
/*CSS3 多媒体查询，适配各种设备尺寸*/
@media (max-width: 991px) {
    .home .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1180px) {
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }
    .footer .footer-content .left .card img{
        height: 200px;
        width: 400px;
        padding:0 5px 0 5px;
        object-fit: cover
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 800;
    }
    .menu-btn i.active:before{
        content: "\f00d";
        /*fontawesome 图标代号*/
        /*content: "\f0c9";*/
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        /*background-color: ;*/
        /*opacity: 0.5;*/
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-02{
        font-size: 70px;
    }
    .home .home-content .text-03{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .left img{
        height: 500px;
        width: 300px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .footer .footer-content .card{
        flex:100%;
    }
    .footer .footer-content .left .box{
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }
    .footer .footer-content .left .box .img{
        height: 50px;
        width: 50px;
    }


}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-01{
        font-size: 32px;}
    .home .home-content .text-02{
        font-size: 60px;
    }
    .home .home-content .text-03{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text{
        font-size: 19px;
    }
    .footer .footer-content .right{
        flex:100%;
    }
}

/*<section styling start*/
.objectives .title::after{
    content: "what i can";
}
.objectives{
    color: white;
    background: #000;
}

.objectives .title::before{
    background: white;
}
.objectives .title::after{
    background: #000;
}
.objectives .object-content .card{
    width: calc(32% - 20px);
    background: rgba(115, 52, 52, 0.54);
    text-align: center;
    border-right: 5px;
    padding:50px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.objectives .object-content .card .box{
    transition: all 0.5s ease;
}
.objectives .object-content .card:hover{
    background: crimson;
}
.objectives .object-content .card:hover .box{
    transform: scale(1.05);
}
.objectives .object-content .card i{
    font-size: 50px;
    color: crimson;
    transition: all 0.5s ease;
}
.objectives .object-content .card:hover i{
    color: white;
}
.objectives .object-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin:20px 0 10px 0;
}

.objectives .title::after{
    content: "what i can";
}

/*teams section styling*/
.teams .title::before{
    background: white;
}
.teams{
    color: white;
    background: #000;
}
.teams .title::after{
    background:black;
    content: "what i build";
}
.teams .carousel .card{
    background: rgba(115, 52, 52, 0.54);
    text-align: center;
    border-radius: 5px;
    padding: 25px 25px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.teams .carousel .card:hover {
    background: crimson;
}
.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    align-items: center;
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 10px 0;

}
.teams .carousel .card img{
    height:100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid brown;
    object-fit: cover;
    transition: all 0.5s ease;
}

.teams .carousel .card:hover{
    transform: scale(1.05);
}
.teams .carousel .card:hover img{
    border-color: white;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    /*outline: none!important;*/
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}
.footer{
    color: white;
    background: rgba(30, 30, 30);
}
.footer .footer-content .text{
    padding-bottom: 20px;
    font-size: 30px;
}
.footer .footer-content .menu li a{
    font-size: 20px;
    font-weight: 50;
    margin:5px 0 5px 0;
    color: white;
}
.footer .menu li a:hover{
    color: #eea2a4;

}

.footer .footer-content .column{
    width: calc(50% - 30px);
}
.footer .left .card img{
    height: 200px;
    width:540px;
    border-radius:5px;
    /*border:4px solid brown;*/
    object-fit: cover;
}

.footer .footer-content .left .card .text{
    text-align: justify;
    font-size: 15px;
    padding: 30px 0;
}
.footer .footer-content .left .card .social{
    padding: 5px 5px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer .footer-content .left .card .social ul{
    display: flex;
}
.footer .footer-content .left .card .social ul li{
    position: relative;
    display: block;
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    /*background: white;*/
    /*background-color: crimson;*/
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.76);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.76);
}
.fa-facebook-f{
    color: blue;

}
.fa-google{
    color: crimson;
}
.fa-instagram{
    color: rgba(129, 62, 186);
}
.fa-twitter{
    color: dodgerblue;
}
